<div th:fragment="AgregarHoteles">
    <div class="container-fluid">
        <div class="row p-4 mb-5" style="background-color: white">
            <div class="d-flex align-items-center" style="gap: 12px;">
                <p class="mb-0 h1">Agregar Habitacion</p>
                <p class="mb-0 mt-2 h4">tienda virtual</p>
                <button onclick="loadComponent('/hotel/inicio')" class="btn btn-primary">Volver</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">

<!--        <form class="form-floating" th:action="@{/habitacion/guardar}" th:object="${habitacion}" method="post">
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="floatingNumeroHabitacion" th:field="*{numeroHabitacion}" placeholder="Número de Habitación">
                <label for="floatingNumeroHabitacion">Número de Habitación</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="number" class="form-control" id="floatingPrecio" th:field="*{precio}" placeholder="Precio">
                <label for="floatingPrecio">Precio</label>
            </div>
            <div class="mb-3 form-floating">
                <textarea class="form-control" id="floatingDescripcion" th:field="*{descripcion}" placeholder="Descripción"></textarea>
                <label for="floatingDescripcion">Descripción</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="number" class="form-control" id="floatingMaximaCapacidad" th:field="*{maximaCapacidad}" placeholder="Capacidad Máxima">
                <label for="floatingMaximaCapacidad">Capacidad Máxima</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="number" class="form-control" id="floatingIdHotel" th:field="*{idHotel}" placeholder="ID del Hotel">
                <label for="floatingIdHotel">ID del Hotel</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="floatingEstadoLimpieza" th:field="*{estadoLimpieza}" placeholder="Estado de Limpieza">
                <label for="floatingEstadoLimpieza">Estado de Limpieza</label>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>-->
    </div>
</div>