<div th:fragment="AgregarHoteles">
    <div class="container-fluid">
        <div class="row p-4 mb-5" style="background-color: white">
            <div class="d-flex align-items-center" style="gap: 12px;">
                <p class="mb-0 h1">Agregar Hoteles</p>
                <p class="mb-0 mt-2 h4">Gestion Hotelera</p>
                <button onclick="loadComponent('/hotel/inicio')" class="btn btn-primary">Volver</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form class="form-floating" th:action="@{/hotel/guardar}" th:object="${hotel}" method="post">
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="floatingNombre" th:field="*{nombre}" placeholder="Nombre" required="true">
                <label for="floatingNombre">Nombre</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="number" class="form-control" id="floatingTelefono" th:field="*{telefono}" placeholder="Teléfono" required="true">
                <label for="floatingTelefono">Teléfono</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="email" class="form-control" id="floatingCorreo" th:field="*{correo}" placeholder="Correo" required="true">
                <label for="floatingCorreo">Correo</label>
            </div>

            <!-- Campos de dirección -->
            <div class="mb-3 form-floating">
                <select class="form-control" id="floatingProvincia" th:field="*{direccion.provincia}" required="true">
                    <option value="" disabled selected>Seleccione una provincia</option>
                    <option value="San José">San José</option>
                    <option value="Alajuela">Alajuela</option>
                    <option value="Cartago">Cartago</option>
                    <option value="Heredia">Heredia</option>
                    <option value="Guanacaste">Guanacaste</option>
                    <option value="Puntarenas">Puntarenas</option>
                    <option value="Limón">Limón</option>
                </select>
                <label for="floatingProvincia">Provincia</label>
            </div>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="floatingCanton" th:field="*{direccion.canton}" placeholder="Canton" required="true">
                <label for="floatingCanton">Canton</label>
            </div>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="floatingDistrito" th:field="*{direccion.distrito}" placeholder="Distrito" required="true">
                <label for="floatingDistrito">Distrito</label>
            </div>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="floatingDireccionUno" th:field="*{direccion.direccionUno}" placeholder="Dirección" required="true">
                <label for="floatingDireccionUno">Dirección</label>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>